body{
    padding: 0;
    margin: 0;
}
h1,h2,h3{
    font-family:'Franklin Gothic Medium';
}

h2,h3{
    font-family:'Franklin Gothic Medium';
    color:#292929;
}

h2{
    font-size: 2.5em
}

p, li{
    font-family: Verdana;
}

.cont-nav{
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #454545; */
    background-color: #292929;
    color: white;
    width: 100%;
    /* padding: 0px 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-nav h1{
    padding: 0 20px;
}

.cont-nav li{
    display: inline;
    list-style-type: none;
    font-family:'Franklin Gothic Medium';
    padding: 0 20px;
} 

.cont-nav a{
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.cont-nav a:hover{
    color: #7F9E94;
}

/* ----------------------- */

.bio{
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
}

.titre-bio, .bio p{
    text-align: center;
}

.bio h2{
    display: inline-block;
    font-size: 2.5em;
    border-bottom: solid 1px #292929;
}

.contact ul{
    display: flex;
    padding-left: 30px;
    padding-top: 5px;
    list-style-type: none;
}

.contact li{
    position: relative;
    margin-right: 20px;
}

.contact a{
    color: black;
}

.contact i{
    transition: color 0.2s ease, font-size 0.2s ease;
}

.contact i:hover{
    color: #526F7A;
    font-size: 2.5em;
}

.tel-num{
    opacity: 0; /* Caché par défaut */
    visibility: hidden; /* Empêche toute interaction ou affichage */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transition fluide */
    position: absolute;
    top: 35px; 
    left: -35px;
    white-space: nowrap;
    font-size: 0.9em;
    color: #333333;
    padding: 2px;
    background-color: white;
    border: solid 1px #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px #00000033;
}


.tel:hover .tel-num {
    opacity: 1; /* Rend visible */
    visibility: visible; /*Débloque l'affichage*/
}



/* ----------------------- */

.skills{
    text-align: center;
    background-color:#638378;
    color: #292929;
    padding-bottom: 50px;
}

.skills h2{
    display: inline-block;
    border-bottom: solid 1px rgb(182, 182, 182);
}

.skills ul, li {
    padding: 0;
    display: inline;
    list-style-type: none;
}

.cont-language{
    margin-bottom: 50px;
}
.cont-language h3{
    font-size: 1.5em;
}

.cont-language li{
    margin-right: 10px;
    transition: color 0.2s ease;
}

.cont-language li:hover{
    color: #7F9E94;
}

.cont-app h3{
    font-size: 1.5em
}

.cont-app li{
    margin-right: 20px;
    transition: color 0.2s ease;
}

.cont-app li:hover{
    color: #7F9E94 ;
}

/* ----------------------- */

.formation{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #7F9E94;
}


.cont-formation1{
    display: inline-block;
    background-color: #cccccc;
    border-radius: 5px;
    border: solid 2px #717171;
    box-shadow: 4px 4px 8px #00000026; /* Ombre subtile bas-droite */
    /* box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3); Ombre bas-droite uniquement */
    padding: 5px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 35px;
}

.cont-formation2{
    display: inline-block;
    background-color: #cccccc;
    border-radius: 5px;
    border: solid 2px #717171;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15); /* Ombre subtile bas-droite */
    /* box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3); Ombre bas-droite uniquement */
    padding: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

.color-formation{
    color: #638378;
}


/* ----------------------- */


footer{
    background-color: #333333;
    padding: 35px;
}

/* ----------Page Projets---------- */

.cont-nav2{
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #454545; */
    background-color: #292929;
    color: white;
    width: 100%;
    /* padding: 0px 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-nav2 h1{
    padding: 0 20px;
}

.cont-nav2 li{
    display: inline;
    list-style-type: none;
    font-family:'Franklin Gothic Medium';
    padding: 0 50px;
} 

.cont-nav2 ul{
    margin-right: 100px;
}

.cont-nav2 a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.cont-nav2 a:hover{
    color: #7F9E94;
}
/* ----------------------- */

.cont-projets{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 63px;
    text-align: center;
    /* background-color: #638378; */
}

.projets{
    display: flex;
    justify-content: center;
}

.cont-projets img{
    margin-top: 20px;
    height: 200px;
    transition: transform 0.3s ease; /* Animation du contenu pour l'effet fixe */

}

.cont-projets ul{
    padding: 0;
    margin-top: 80px;
}

.cont-projets li{
    display: inline-block;
    transition: transform 0.5s ease; /* Animation du contenu pour l'effet fixe */

}

.projets-card{
    background-color: #cccccc;
    margin-right: 50px;
    margin-left: 50px;
    border: solid 2px #292929;
    border-radius: 5px;
    padding: 20px 20px;
    box-shadow: 10px 10px 20px #00000066;
    transition: transform 0.5s ease;

}

.projets-card a{
    text-decoration: none;
    color: #292929 ;
}

.project-title{
    padding-bottom: 5px;
    border-bottom: solid 2px #292929;
}

.projets :hover{
    transform: scale(1.05);
}

.projets:hover img, .projets:hover li{
    transform: scale(1);
}


/* ----------Page Projets---------- */
